/************************************
	Global and typography
************************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic);

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
  background-color: $bg-gray;
}
a:link, a:visited {
    
}

